.w-70 {
  width:70%;
}
.list-group-item{
  padding: 0;
  border: 0;
}

.background-img{
background-image: url(./Images/stackoverflow.png);
margin-top: 56px;
background-repeat: no repeat;
-webkit-background-size: cover;
-moz-background-size: cover;
background-size: cover;
height: 420px;
margin-bottom: 0;
}


.fa-heart {
  color: red;
  padding: 10px;
}